/.vscode
/build
/lake-packages
/.cache
.DS_Store
MIL/C02_Basics/S04_More_on_Order_and_Divisibility copy.lean
MIL/C02_Basics/Q_Proving_Facts_about_Algebraic_Structures copy.lean
MIL/C02_Basics/S07_Category_stuff.lean
MIL/C03_Logic/QComposition.lean
MIL/C03_Logic/QError.lean
MIL/C03_Logic/QSpeed.lean
MIL/C03_Logic/QTactic.lean
